{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Рецепты{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}"/>
    <link href="{% static 'select2/dist/css/select2.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'select2/dist/js/select2.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
</head>
<body>
<div class="row header">
    <div class="col-3">
        {% if user.is_authenticated %}
            <a class="general-button" href={% url 'main:add_recipe' %}>ADD
                RECIPE</a>
            <a href={% url 'main:logout' %}>Log Out</a>
        {% else %}
            <a id="login" href={% url 'main:login' %}>Log In</a>
            <a id="signup" href={% url 'main:signup' %}>Sign Up</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-3 meal-categories">
        {% if meals %}
            <ol>
            {% for meal in meals %}
                <li>
                    <a href={% url 'main:filtered-recipes' filter=meal.0 %}>
                        {{ meal.1 }}
                    </a>
                </li>
            {% endfor %}
            </ol>
        {% endif %}
    </div>
    {% block pagecontent %}
    {% endblock %}
</div>
</body>
</html>



