{% extends 'main/base.html' %}
{% block title %}{% endblock %}

<body>
{% block pagecontent %}
{% load guardian_tags %}

    <div class="col-8 list">
        {% if recipes_list %}
            <ol class="">
            {% for recipe in recipes_list %}
                {% get_obj_perms request.user for recipe as "recipe_perms" %}

                <li>
                    <a href={% url 'main:get_recipe' recipe.id %}>
                    {{ recipe.name }}</a>

                    {% if "edit_recipe" in recipe_perms %}
                        <a id="edit-icon" href={%url 'main:edit_recipe' recipe.id %}>
                            edit</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ol>
        {% else %}
            <h3>No recipes are available.</h3>
        {% endif %}
    </div>
{% endblock %}
</body>