{% extends 'main/base.html' %}
{% block title %}{% endblock %}
<body>
{% block pagecontent %}
<div class="col-8 recipe-detail">
    <div class="content">
        <h1>{{ object.name }}</h1>
        <hr/>
        <h4>Meal:</h4><p>{{ object.get_meal_display }}</p><hr/>
        <h4>Ingredients:</h4>
        {% if object.ingredient.all %}
            <ol>
            {% for ingredient in object.ingredient.all %}
                <li>{{ ingredient }}</li>
            {% endfor %}
            </ol>
        {% else %}
            <h3>There is no ingredients</h3>
        {% endif %}
        <h4>Description:</h4><p>{{ object.description | linebreaks}}</p><hr/>
    </div>
</div>
{% endblock %}
</body>
