{% extends 'main/base.html' %}
{% block title %}{% endblock %}
<body>
{% block pagecontent %}
    <div class="col-8 recipe-info">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="submit" type="submit" value="Save" />
        </form>
    </div>
{% endblock %}
</body>
