{% extends 'main/base.html' %}
{% block title %}Sign Up{% endblock %}
<body>
{% block pagecontent %}
<div class="login">
    <form id="login-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="submit" type="submit" value="SIGN UP" />
    </form>
</div>
{% endblock %}
</body>