body {
background-image:url(../img/food.jpg)
}
.row {
margin-right:0;
margin-left:0
}
.list,.recipe-info,.recipe-detail {
background-color:rgba(0,0,0,0.5)
}
.list ol {
list-style:none;
font-size:20px;
font-family:'Cambria',sans-serif;
margin:2em 1em
}
.list li:hover {
background-color:rgba(256,256,256,0.3)
}
.list li {
margin-bottom:10px;
border:1px solid rgba(45,45,45,0.5);
padding:15px
}
.list a,.header a {
text-decoration:none;
color:#FFF
}
.list a {
width:70%;
display: inline-block;
text-transform:uppercase
}
.list a:hover, .header a:hover{
text-decoration:underline;
color:#fff
}
#edit-icon {
display: inline-block;
float:right;
width: 10%;
font-size: 10px;
}
.header {
height:100px;
padding:10px
}
.general-button {
text-decoration:none;
background-color:rgba(256,256,256,0.6);
text-align:center;
color:#000;
margin-top:30px;
position:absolute;
padding:15px;
font-family:'Cambria',sans-serif
}
.general-button:hover {
background-color:rgba(100,100,100,0.7);
text-decoration:none;
color:#FFF
}
.recipe-info {
padding:40px;
color:#fff
}
.recipe-detail {
color:#000;
padding:20px
}
.recipe-detail h1 {
text-align:center;
text-decoration:underline
}
.recipe-detail .content {
width:80%;
margin:0 auto;
padding:35px;
background-color:rgba(256,256,256,0.6)
}
input {
border:1px solid #e5e5e5;
padding:.5em;
width:400px
}
.recipe-info textarea {
width:400px;
padding:.5em
}
.recipe-info label {
width:100px
}
.submit {
background-color:#FFF;
border:none;
padding:.5em;
width:150px;
margin-top:40px
}
.submit:hover {
background-color:#c8c8c8!important
}
.select2-container {
width:400px!important
}
.select2-selection {
border-radius:0!important
}
.select2-container ul {
padding:.3em!important
}
.select2-container li {
padding:.3em!important
}
.select2-selection__choice {
color:#000;
border-radius:0!important;
background-color:rgba(70,20,8,0.4)!important
}
.select2-selection__choice__remove {
color:#000!important
}
.select2-results__option--highlighted[aria-selected] {
background-color:rgba(70,20,8,0.4)!important
}
.meal-categories ol {
list-style:none;
font-size:20px;
font-family:'Cambria',sans-serif;
padding-left:10px!important
}
.meal-categories li {
margin-bottom:2px;
padding:.6em;
text-transform:uppercase;
background-color:rgba(256,256,256,0.6)
}
.meal-categories li:hover {
background-color:rgba(256,256,256,0.3)
}
.meal-categories a {
text-decoration:none;
color:#000;
display:block
}
.meal-categories a:hover {
text-decoration:none;
color:#000
}
.list h3 {
color:#fff
}
.login {
width:40%;
background-color:rgba(0,0,0,0.5)
}
.login form {
width:50%;
margin:20px auto
}
.login label {
color:#fff
}
.login input {
border-radius:0;
width:100%
}
.errorlist {
color:#FFF
}